# بيانات الاتصال بقاعدة البيانات المحلية PostgreSQL
VITE_DB_HOST=localhost
VITE_DB_PORT=5432
VITE_DB_NAME=MaghzAccount
VITE_DB_USER=Maghz
VITE_DB_PASSWORD=DB2026

# العملة الافتراضية
VITE_DEFAULT_CURRENCY=YER
VITE_DEFAULT_LANGUAGE=ar
VITE_DEFAULT_THEME=light

# وضع التطبيق: electron | web
VITE_APP_MODE=electron
